body {
    background-color: #f4ede0;
    margin: 20px;
}

.btn{
    margin-left:10px;
    }

.card{
    margin-bottom: 10px;
}

.navbar{
    margin-bottom: 10px;
}

.social-icons{
    margin-left: 10px;
    width: 45px;
    height: 45px;
}

#logo{
    margin-right: 10px;
    width: 30px;
    height: 30px;
}